.fondo {
    color: white;
}

article {
    position: relative;
    width: 250px;
    transition: all 0.3s ease;
  }
  
  article img:first-child {
    box-shadow: 0 60px 60px -60x rgba(81, 255, 0, 0.5);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
  }
  
  article img:last-child {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: 0.3s ease;
    opacity: 0;
  }
  
  article:hover {
    transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
  }
  
  article::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      transparent 10%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0) 95%
    );
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  article:hover::before {
    opacity: 1;
  }
  
  article:hover img:last-child {
    opacity: 1;
    transform: translateY(10%);
  }
  
  
  
  
  button {
    border: 0;
    background-image: linear-gradient(
        150deg,
        #9500ff,
        #09f,
        #09f,
        #00DDFF
    );
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s; 
  }
  
  button span { 
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
  }
  
  button:hover span{
    background: none; 
  }
  
  button:active { 
  transform: scale(0.9);
  }
  
  ion-button {
    --background: #93e9be;
    --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be;
  
    --color: blue;
  
    --border-radius: 0;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: deeppink;
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  }

  //Colores Botones 

  ion-button {
    --background: #93e9be;
    --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be;
  
    --color: blue;
  
    --border-radius: 0;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: deeppink;
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  }

  ion-content {
    --background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0, 0, 0, 0.1)),
    url("/assets//duocpao.jpg") no-repeat center center /cover;  
  }